<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net461" />
  <package id="ControlzEx" version="4.3.2" targetFramework="net461" />
  <package id="HTools" version="1.5.16" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="sqlite-net-pcl" version="1.6.292" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.13" targetFramework="net461" />
</packages>